<div id="<%= dom_id item %>">
  <p>
    <strong>Product name:</strong>
    <%= item.product_name %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= item.qty %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= item.price %>
  </p>

    <p>
    <strong>Discarded:</strong>
    <%= item.discarded? %>
  </p>



</div>
